[Unit]
Description=iPXE Readonly TFTP Server
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
# The TFTP directory served to clients.
ExecStart=/srv/ipxe-tftp/.venv/bin/python /srv/ipxe-tftp/tftp.py --root /srv/pxe

[Install]
WantedBy=multi-user.target